<div class="container mt-5">
    <p><strong>Test user with username: test</strong></p>
    <form id="searchForm" method="GET" data-request="onSearch">
        <div class="mb-3">
            <label for="searchUsername" class="form-label">Search username</label>
            <input type="text" name="searchUsername" class="form-control" id="searchUsername" placeholder="Username">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div id="searchResults" class="mt-3">
        {% if userFound %}
            <p>Gebruiker: {{ userFound.username }}</p>
            <p>Aantal keer opgeslagen: {{ userFound.count }}</p>
        {% else %}
            
        {% endif %}
    </div>
</div>